<a href="https://colab.research.google.com/github/mckolu/DataScience/blob/main/DataScienceNotes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Tesla T4
# !nvidia-smi
# !nvidia-smi -L

In [12]:
# DICTIONARIES
dict = {
    'student1': 'name lastname',
    'address': 'city'
}

dict['student1']

for key, value in dict.items():
  print ('key: ', key, '--- value: ', value)

key:  student1 --- value:  name lastname
key:  address --- value:  city

In [ ]:
# NUMPY
import numpy as np
np.zeros([2,5])
np.arange(1,11,4) # numbers between 1-10 skip 4 numbers each time
np.linspace(1,5,10) # put 10 numbers between 1-5 increasing linearly

# **PANDAS**

In [ ]:
# Importing data

import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/codebasics/py/master/pandas/1_intro/nyc_weather.csv')
df.head()

df['Temperature'].max()

In [ ]:
# Another way of creating a data frame is using dictionaries
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}

df = pd.DataFrame(weather_data)
df.describe()

In [25]:
# Check the number of rows and columns
rows, columns = df.shape
rows

6

In [ ]:
# SLICING
df.head(2) # first two rows
df.tail(2) # last two rows
df[3:6] # rows 3-5

df.columns # list column names
df['day'] # day column with all rows. You can also use df.day

In [ ]:
# Multiple brackets if you want to show multiple columns
df [['day', 'event']]

In [36]:
df['temperature'].max()

35

In [40]:
# IMPORTAT: Conditional selection of data
df[df.temperature>=32] # all the rows where temperature is greater than 32

df[df.temperature==df['temperature'].max()] # all the rows where the temperature is max

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny