<a href="https://colab.research.google.com/github/mckolu/DataScience/blob/main/DataScienceNotes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
# Tesla T4
# !nvidia-smi
# !nvidia-smi -L

In [13]:
# NUMPY

In [14]:
# PANDAS

import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/codebasics/py/master/pandas/1_intro/nyc_weather.csv')
df.head()

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333

In [15]:
df['Temperature'].max()

50

In [18]:
df['EST'][df['WindSpeedMPH'] == 8.0 ]

0      1/1/2016
2      1/3/2016
8      1/9/2016
28    1/29/2016
Name: EST, dtype: object