<a href="https://colab.research.google.com/github/mckolu/DataScience/blob/main/DataScienceNotes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# BASICS

In [66]:
# Tesla T4
# !nvidia-smi
# !nvidia-smi -L

In [67]:
# DICTIONARIES
dict = {
    'student1': 'name lastname',
    'address': 'city'
}

dict['student1']

for key, value in dict.items():
  print ('key: ', key, '--- value: ', value)

key:  student1 --- value:  name lastname
key:  address --- value:  city

In [68]:
# NUMPY
import numpy as np
np.zeros([2,5])
np.arange(1,11,4) # numbers between 1-10 skip 4 numbers each time
np.linspace(1,5,10) # put 10 numbers between 1-5 increasing linearly

array([1.        , 1.44444444, 1.88888889, 2.33333333, 2.77777778,
       3.22222222, 3.66666667, 4.11111111, 4.55555556, 5.        ])

# **PANDAS**

In [69]:
# Importing data

import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/codebasics/py/master/pandas/1_intro/nyc_weather.csv')
df.head()

df['Temperature'].max()

50

In [ ]:
# Another way of creating a data frame is using dictionaries
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}

df = pd.DataFrame(weather_data)
df.describe()

In [90]:
# Another way of creating a data frame is using a list of dictionaries
weather_data2 = [
    {'day': '1/1/2017', 'temperature': 32, 'windspeed': 6, 'event': 'Rain'},
    {'day': '1/2/2017', 'temperature': 35, 'windspeed': 7, 'event': 'Sunny'},
    {'day': '1/3/2017', 'temperature': 28, 'windspeed': 2, 'event': 'Snow'},   
]

df2 = pd.DataFrame(data=weather_data, columns=['day','temperature','windspeed','event'])

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [71]:
# Check the number of rows and columns
rows, columns = df.shape
rows

6

In [72]:
# SLICING
df.head(2) # first two rows
df.tail(2) # last two rows
df[3:6] # rows 3-5

df.columns # list column names
df['day'] # day column with all rows. You can also use df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [73]:
# Multiple brackets if you want to show multiple columns
df [['day', 'event']]

        day  event
0  1/1/2017   Rain
1  1/2/2017  Sunny
2  1/3/2017   Snow
3  1/4/2017   Snow
4  1/5/2017   Rain
5  1/6/2017  Sunny

In [74]:
df['temperature'].max()

35

In [75]:
# IMPORTAT: Conditional selection of data

# df[]df [] --- first df is for the data we want to show. The second df is for the condition.

df[df.temperature>=32] # all the rows where temperature is greater than 32
df[df.temperature==df['temperature'].max()] # all the rows where the temperature is max
df['day'][df.temperature==df['temperature'].max()] # the day where the temperature is max
df[['day','temperature']][df.temperature==df['temperature'].max()] # the day and the temperature where the temperature is max

        day  temperature
1  1/2/2017           35

In [88]:
# INDEX

df.index #(it is like key id)

# df.set_index('event', inplace=True) # You can set the index to something else 
# df.reset_index(inplace=True) # To revert the previous change and reset the index

# After setting the index, we can use the loc function. loc is label-based and iloc is integer position-based
df.loc['Rain']

            day  temperature  windspeed
event
Rain   1/1/2017           32          6
Rain   1/5/2017           32          4

# **PANDAS - Reading CSV Files**

https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

In [116]:

# Skip the first row
df = pd.read_csv('https://raw.githubusercontent.com/codebasics/py/master/pandas/1_intro/nyc_weather.csv', skiprows=1)

# Make the first row the header the first row. You can change header no if needed.
df = pd.read_csv('https://raw.githubusercontent.com/codebasics/py/master/pandas/1_intro/nyc_weather.csv', header=0)

# If there is no headers in the CSV file, put header=none and add names=['column1 title', 'column2 title'..]
df1 = pd.read_csv('https://raw.githubusercontent.com/codebasics/py/master/pandas/1_intro/nyc_weather.csv', header=None, names=['aa', 'bb'])

In [117]:
# Read only the first 3rows
df = pd.read_csv('https://raw.githubusercontent.com/codebasics/py/master/pandas/1_intro/nyc_weather.csv', nrows=3)

In [120]:
# Finding the null & broken values and replacing them with NaN. Use na_values=['not available', 'n.a.']

df = pd.read_csv('https://raw.githubusercontent.com/codebasics/py/master/pandas/4_read_write_to_excel/stock_data.csv', na_values=['not available', 'n.a.'])

# A column specific approach would be as following:

df = pd.read_csv("https://raw.githubusercontent.com/codebasics/py/master/pandas/4_read_write_to_excel/stock_data.csv",  na_values={
        'eps': ['not available'],
        'revenue': [-1],
        'people': ['not available','n.a.']
    })

  tickers    eps  revenue price         people
0   GOOGL  27.82     87.0   845     larry page
1     WMT   4.61    484.0    65            NaN
2    MSFT  -1.00     85.0    64     bill gates
3    RIL     NaN     50.0  1023  mukesh ambani
4    TATA   5.60      NaN  n.a.     ratan tata